<div class="map-wrapper">
  <div #gmap class="map"></div>
</div>


<div class="mensagens-wrapper">

  <div class="header mat-title mat-elevation-z6">Caça ao Tesouro Hackaixa</div>

  <div class="lista-mensagens-wrapper">
    <div class="lista-mensagens" #listaMensagens>
      <div class="item-mensagem {{mensagem.isBot ? 'bot' : 'user'}}" *ngFor="let mensagem of mensagens" @fadeIn
           #itensMensagem>
        <div class="avatar"><img [src]="mensagem.isBot ? 'assets/bot.png' : 'assets/user.png'"/></div>
        <div class="conteudo mat-body">{{mensagem.conteudo}}</div>
      </div>
    </div>
  </div>

  <div class="chatcontrol">
    <mat-form-field class="input-chat">
      <input matInput type="text" class="form-control chatinput" [(ngModel)]="mensagem.conteudo"
             (keyup)="enviarMensagem($event)" placeholder="Digite e tecle enter..."/>
    </mat-form-field>
  </div>

</div>
